<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550542224342-guo6sk1dl19usgnjn6bg34gqbcim4da3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550542224342-guo6sk1dl19usgnjn6bg34gqbcim4da3</string>
	<key>API_KEY</key>
	<string>AIzaSyDbtR6UCd_PP5TNisHmXqBwZtZ1GPGKRFc</string>
	<key>GCM_SENDER_ID</key>
	<string>550542224342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jparrack.firebaseAuthTemplate</string>
	<key>PROJECT_ID</key>
	<string>parrack-madlib</string>
	<key>STORAGE_BUCKET</key>
	<string>parrack-madlib.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550542224342:ios:2f8caa78603686b2bb1277</string>
	<key>DATABASE_URL</key>
	<string>https://parrack-madlib.firebaseio.com</string>
</dict>
</plist>